[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
pillow = "*"
python-decouple = "*"
psycopg2 = "*"
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"
djangorestframework = "*"
drf-yasg = "*"
requests = "*"
channels = "*"
django-bootstrap4 = "*"
fontawesome = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
