{% extends "landingbase.html" %} 
{% load static %} 
{% load bootstrap4 %}


{% block content %}


<div id="preloader">
    <div class="spinner"></div>
</div>

<header class="header-area">
    <div class="clever-main-menu hero-content text-center">
        <div class="classy-nav-container breakpoint-off">
            <nav class="classy-navbar justify-content-between" id="cleverNav">
                <a class="nav-brand" href="{% url 'landingpage' %}"><img
                    src="{% static 'img/core-img/logoelimisha.png' %}" src="img/core-img/logoelimisha.png" alt="">
                </a>

                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <div class="classy-menu">
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'landingpage' %}">Home</a></li>
                            <li><a href="{% url 'course_list' %}">Courses</a></li>
                            <li><a href="#tutor">Instructors</a></li>
                            <li><a href="#footer">Contact</a></li>
                        </ul>

                        <div class="register-login-area">
                            <a href="#" class="btn">Register</a>
                            <a href="index-login.html" class="btn active">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(/static/img/bg-img/bg11.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-center">
                    <h2>Learn with the Best</h2>
                    <a href="#" class="btn clever-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cool-facts-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <div class="icon">
                        <img src="{% static 'img/core-img/docs.png' %}" alt="image here" />
                        <img src="img/core-img/docs.png" alt="">
                    </div>
                    <h2><span class="counter">1912</span></h2>
                    <h5>Success Stories</h5>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="icon">
                        <img src="{% static 'img/core-img/star.png' %}" alt="tutor">
                    </div>
                    <h2><span class="counter">123</span></h2>
                    <h5>Dedicated Tutors</h5>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <div class="icon">
                        <img src="{% static 'img/core-img/events.png' %}" alt="tutor">
                    </div>
                    <h2><span class="counter">89</span></h2>
                    <h5>Scheduled Events</h5>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                    <div class="icon">
                        <img src="{% static 'img/core-img/earth.png' %}" alt="tutor">
                    </div>
                    <h2><span class="counter">56</span></h2>
                    <h5>Available Courses</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular-courses-area section-padding-100-0"
    style="background-image: url(img/core-img/texture.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Popular Online Courses</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">

                    <img src="{% static 'img/bg-img/c1.jpeg' %}" alt="">


                    <div class="course-content">
                        <h4>Microsoft Power Bi</h4>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Castro Mbithi</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Microsoft Power Platform</a>
                        </div>
                        <p>Make informed, confident business decisions by putting data-driven insights into
                            everyone’s hands.
                        </p>
                    </div>

                    <div class="seat-rating-fee d-flex justify-content-between">
                        <div class="seat-rating h-100 d-flex align-items-center">
                            <div class="seat">
                                <i class="fa fa-user" aria-hidden="true"></i> 10
                            </div>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i> 4.5
                            </div>
                        </div>
                        <div class="course-fee h-100">
                            <a href="#" class="free">Free</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="{% static 'img/bg-img/c12.png' %}" alt="">

                    <div class="course-content">
                        <h4>Microsoft Power Apps</h4>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Waithaka Waweru</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Microsoft Power Platform</a>
                        </div>
                        <p>Turn ideas into organizational solutions by enabling everyone to build custom apps
                            that solve business challenges.
                        </p>
                    </div>

                    <div class="seat-rating-fee d-flex justify-content-between">
                        <div class="seat-rating h-100 d-flex align-items-center">
                            <div class="seat">
                                <i class="fa fa-user" aria-hidden="true"></i> 10
                            </div>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i> 4.5
                            </div>
                        </div>
                        <div class="course-fee h-100">
                            <a href="#">Free</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <img src="{% static 'img/bg-img/c33.png' %}" alt="">


                    <div class="course-content">
                        <h4>Microsoft Power Automate</h4>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Mergery Wanjiru</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Microsoft Power Platform
                            </a>
                        </div>
                        <p>Boost business productivity to get more done by giving everyone the ability to
                            automate organizational processes.
                        </p>
                    </div>

                    <div class="seat-rating-fee d-flex justify-content-between">
                        <div class="seat-rating h-100 d-flex align-items-center">
                            <div class="seat">
                                <i class="fa fa-user" aria-hidden="true"></i> 10
                            </div>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i> 4.5
                            </div>
                        </div>
                        <div class="course-fee h-100">
                            <a href="#">Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tutor" class="top-teacher-area section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h3>Top Tutors in Every Field</h3>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/ME.jpg' %}" alt="">

            </div>
            <div class="instructor-info">
              <h5>Castro Mbithi</h5>
              <span>Software Engineer | Technical Program Manager</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/t5.jpeg' %}" alt="">

            </div>
            <div class="instructor-info">
              <h5>Mergery Wanjiru</h5>
              <span>Game Developer | Technical Writer | Instructor</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/t2.jpeg' %}" alt="">

              <img src="img/bg-img/t3.png" alt="">
            </div>
            <div class="instructor-info">
              <h5>Waithaka Waweru</h5>
              <span>Software Engineer | Instructor</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/t4.jpeg' %}" alt="">

              <img src="img/bg-img/t4.png" alt="">
            </div>
            <div class="instructor-info">
              <h5>Museveni Brian</h5>
              <span>Software Engineer Reasearcher | Technical Writer</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/bgg5.jpg' %}" alt="">

              <img src="img/bg-img/bgg5.png" alt="">
            </div>
            <div class="instructor-info">
              <h5>Jamo Muli</h5>
              <span>Software Engineer | Technical Program Manager</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-instructor d-flex align-items-center mb-30">
            <div class="instructor-thumb">
              <img src="{% static 'img/bg-img/t33.png' %}" alt="">

              <img src="img/bg-img/t1.png" alt="">
            </div>
            <div class="instructor-info">
              <h5>Ray Olumide</h5>
              <span>Data Scientist | AI Engineer</span>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

<section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" style="background-image:  url(%static/img/core-img/texture.png%);">
    <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="forms">
                        <h4>Courses For Free</h4>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="site" placeholder="Site">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn clever-btn w-100">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
        <h3>Register Now</h3>
        <p>Keep your child/ren engaged, while providing them an opportunity to gain 21st-century skills from the
            comfort of your
            home. The Saturday Bootcamps are offered online only, via instructor-led virtual classes.
        </p>

        <div class="register-countdown">
            <div class="events-cd d-flex flex-wrap" data-countdown="2019/03/01"></div>
        </div>
    </div>
</section>

<section class="upcoming-events section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Upcoming events</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">

                    <div class="events-thumb">

                        <img src="{% static 'img/bg-img/e1.jpg' %}" alt="">
                        <h6 class="event-date">October 26</h6>
                        <h4 class="event-title">Networking Day</h4>
                    </div>

                    <div class="date-fee d-flex justify-content-between">
                        <div class="date">
                            <p><i class="fa fa-clock"></i> October 26 @ 9:00 am</p>
                        </div>
                        <div class="events-fee">
                            <a href="#">Free</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="500ms">

                    <div class="events-thumb">
                        <img src="{% static 'img/bg-img/e2.jpg' %}" alt="">
                        <h6 class="event-date">October 7</h6>
                        <h4 class="event-title">Open Doors Day</h4>
                    </div>

                    <div class="date-fee d-flex justify-content-between">
                        <div class="date">
                            <p><i class="fa fa-clock"></i> October 7 @ 9:00 am</p>
                        </div>
                        <div class="events-fee">
                            <a href="#" class="free">Free</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="750ms">

                    <div class="events-thumb">
                        <img src="{% static 'img/bg-img/e3.jpg' %}" alt="">

                        <h6 class="event-date">October 3</h6>
                        <h4 class="event-title">Creative Leadership</h4>
                    </div>

                    <div class="date-fee d-flex justify-content-between">
                        <div class="date">
                            <p><i class="fa fa-clock"></i> October 3 @ 9:00 am</p>
                        </div>
                        <div class="events-fee">
                            <a href="#">Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Join our Newsletter</h3>
                </div>
            </div>
        </div>
        <form action="{% url 'landingpage' %}" method="post">
            {%csrf_token%}

            {% bootstrap_form form layout='inline' %}
            <input class="btn" type="submit" value="Subscribe">
        </form>
    </div>
</section>


{% endblock %}